// navigation 
nav {
    margin: 5px 0;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    overflow: hidden;
    padding: 10px 0 0 0;
    margin: 0;
    background-color: #fff;
}

li a {
    display: block;
    color: #575757;
    text-align: center;
    text-decoration: none;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;

    &:hover {
        color: $yellow-shade !important;
        text-decoration: underline;
    }
}

li.active>a {
    color: $yellow-shade;
}

.left-nav {
    display: flex;
    padding-left: 45px;
    align-items: center;
    flex: 1;
}

.right-nav {
    display: flex;
    padding-right: 100px;
    flex: 2;
    justify-content: flex-end;
    align-items: center;
}

/* end navigation */

/* banner */
.banner-img {
    background: linear-gradient(rgba(0, 0, 0, 0.7)), url(../img/Rectangle_244.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 676px;
    // text-align: center;
}

.banner-img span,
h2 {
    color: #FAFAFA;
}

.banner-img span:nth-child(1) {
    position: absolute;
    left: 11.46%;
    // right: 77.49%;
    top: 24%;
    // bottom: 93.46%;
    font-weight: 700;
    font-size: 40px;
    background: #F29F3C;
    box-shadow: 0px 30px 36px rgba(83, 83, 83, 0.25);
    border-radius: 142px;
    padding: 10px 25px;
    margin: 45px;
}

.banner-img span:nth-child(2) {
    position: absolute;
    left: 71.7%;
    // right: 17.25%;
    top: 35%;
    // bottom: 92.95%;
    font-weight: 700;
    font-size: 40px;
    background: #CEE63F;
    box-shadow: 0px 30px 36px rgba(83, 83, 83, 0.25);
    border-radius: 142px;
    padding: 10px 25px;
    margin: 45px;
}

.banner-img h2 {
    text-align: center;
    position: absolute;
    width: 535px;
    height: 60px;
    left: 30%;
    top: 330px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 60px;
}

.banner-img p {
    text-align: center;
    position: absolute;
    width: 535px;
    height: 60px;
    left: 30%;
    top: 450px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    // line-height: 60px;
}

.banner-img span:nth-child(3) {
    position: absolute;
    // left: 0%;
    right: 0%;
    // top: 0%;
    bottom: -100px;
    font-weight: 700;
    font-size: 20px;
    background: #F29F3C;
    box-shadow: 0px 30px 36px rgba(83, 83, 83, 0.25);
    border-radius: 50%;
    padding: 25px 15px;
    margin: 45px;
}

/* banner ends*/

/* What we are */
.what-we-are {
    display: flex;
    justify-content: space-between;
    margin: 35px;
}

.col-3 {
    flex: 1;
}

.row1 img {
    // width: 313px;
    padding: 15px;
    // margin: 0 65px ;

}

.row1 {
    margin: 65px 0;
    //  padding: 5px;
    // border: 1px solid;

}

.row2 img {
    // width: 313px;
    padding: 15px;
}

// .row2 {

// }

.col-3 h4 {
    margin: 65px 0 0 25px;
    font-family: Mulish;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    // text-align: center;
}
.col-3 p{
    text-align: justify;
    line-height: 35px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

/* What we are */