button {
    padding: .6rem;
    border-radius: .4rem !important;
    text-decoration: none;
    background-color:$yellow-shade;
    font-weight: 500;
    border: none;
    color: $gray-dark;
    transition-duration: 0.4s;
 
    &:hover{
        background-color: darken($yellow-shade, 3);
    }
}

.button {
    padding: .6rem;
    border-radius: .4rem;
    text-decoration: none;
    background-color:$yellow-shade;
    font-weight: 500;
    color: $gray-dark;
    transition-duration: 0.4s;

     &:hover{
        background-color: darken($yellow-shade, 3);
        color: $gray-dark;
    }
}

.a{
    padding: 12px 20px;
    margin: 45px 0;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 42px !important;
    color: #000 !important;
    font-weight: 700;
}