button{
    padding: .6rem;
    border-radius: .4rem;
    background-color:$yellow-shade;
    font-weight: 500;
    color: $gray-dark;

    &:hover{
        color: darken($yellow-shade, 3);
    }
}

.button {
    padding: .6rem;
    border-radius: .4rem;
    text-decoration: none;
    background-color:$yellow-shade;
    font-weight: 500;
    color: $gray-dark;

     &:hover{
        background-color: darken($yellow-shade, 3);
    }
}

