footer {
  .top {
    background-color: $green-dark;
    color: $gray-light;
    padding: 40px 20px;

    p {
      font-size: small;
    }

    h5 {
      color: $green-shade;
    }

    & div.col-2,
    div.col {
      font-size: small;

      a {
        color: $gray-light;
        text-decoration: none;

        &:hover {
          text-decoration-line: underline;
        }
      }
    }
  }

  .bottom,
  span {
    background: $green-dark;
    color: $gray-dark;
    font-size: small;
  }

  .subscribe-sec {
    div > form {
      display: grid;
      grid-template-columns: auto auto;
      grid-column-gap: 20px;
      font-size: smaller;

      input {
        background-color: $green-dark;
        border-color: $yellow-shade;
        border-radius: 10px !important;
        padding: 10px 20px;
        color: $gray-light;

        &:focus {
          outline: none;
        }
      }

      button {
        border-radius: 10px !important;
      }
    }

    div.socials {
      display: grid;
      grid-template-columns: 30px 30px;
      grid-column-gap: 20px;
      margin: 10px 0px;
    }

    div.t-p {
      display: grid;
      grid-template-columns: 50px 50px;
      grid-column-gap: 20px;
      margin: 10px 0px;
      font-size: small;
      a {
        color: $yellow-shade;

      }
    }
  }
}
