footer {
  .top {
    background-color: $green-dark;
    color: $white;
    padding: 40px 20px;

    p {
      font-size: small;
    }

    h5 {
      color: $green-shade;
    }

    & div.col-2,
    div.col {
      font-size: small;

      a {
        color: $white;
        text-decoration: none;

        &:hover {
          text-decoration-line: underline;
        }
      }
    }
  }

  .bottom, span {
    background: $green-dark;
    color: $white;
    font-size: small;
  }
}
