nav {
  display: grid;
  grid-template-columns: auto auto;
  font-size: larger;
  padding: 15px 15px;
  align-content: center;

  .left {
    font-size: 30px;
    font-weight: 900;

    a {
      color: $green-shade !important;
      text-decoration: none;
    }
  }

  .right {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    align-content: center;

    a {
      color: $gray-light;
      text-decoration: none;
      transition-duration: 0.4s;

      &:not(.button):hover {
        color: lighten($gray-light, 20);
      }
    }
  }
}
