@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600&display=swap');
@import '_colors';
@import './button';
@import './nav';
@import './footer';
@import './sections/jumbo';
@import './sections/about-us';
@import './sections/challenges';
@import './sections/contact-us';
@import './sections/solution';
@import './sections/testimonies';
@import './signin';
@import './signup';


body{
    font-family: 'Mulish', sans-serif;
}

a {
    text-decoration: none;
}

.header-img {
    width: 5%;
}