@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600&display=swap");
.green-light {
  color: #108D15;
}

button {
  padding: .6rem;
  border-radius: .4rem !important;
  text-decoration: none;
  background-color: #DAB805;
  font-weight: 500;
  border: none;
  color: #575757;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

button:hover {
  background-color: #cbab05;
}

.button {
  padding: .6rem;
  border-radius: .4rem;
  text-decoration: none;
  background-color: #DAB805;
  font-weight: 500;
  color: #575757;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.button:hover {
  background-color: #cbab05;
  color: #575757;
}

nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  font-size: larger;
  padding: 15px 15px;
  -ms-flex-line-pack: center;
      align-content: center;
}

nav .left {
  font-size: 30px;
  font-weight: 900;
}

nav .left a {
  color: #108d15 !important;
  text-decoration: none;
}

nav .right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
}

nav .right a {
  color: #787878;
  text-decoration: none;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

nav .right a:not(.button):hover {
  color: #ababab;
}

footer .top {
  background-color: #072009;
  color: #FFFFFF;
  padding: 40px 20px;
}

footer .top p {
  font-size: small;
}

footer .top h5 {
  color: #108d15;
}

footer .top div.col-2,
footer .top div.col {
  font-size: small;
}

footer .top div.col-2 a,
footer .top div.col a {
  color: #FFFFFF;
  text-decoration: none;
}

footer .top div.col-2 a:hover,
footer .top div.col a:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

footer .bottom, footer span {
  background: #072009;
  color: #FFFFFF;
  font-size: small;
}

section.jumbo {
  background-color: whitesmoke;
  padding: 110px;
  margin-bottom: 20vh !important;
}

section.jumbo div > img {
  width: 110%;
}

section.jumbo h1 > span {
  color: #108D15;
}

section.jumbo .action {
  font-size: larger;
}

section.about-us {
  margin-bottom: 20vh !important;
}

section.about-us div > img {
  width: 60%;
}

section.challenges {
  margin-bottom: 20vh !important;
}

section.challenges .border {
  border-color: #DAB805 !important;
  border-radius: 20px;
}

section.challenges h4, section.challenges p {
  color: #575757;
}

section.challenges div > p {
  font-size: 90%;
}

section.contact-us {
  margin-bottom: 20vh !important;
}

section.contact-us div > img {
  width: 130px;
}

section.contact-us .contact-dial {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

section.contact-us div > input[type='text'],
section.contact-us div > input[type='email'], section.contact-us div > textarea {
  padding: 12px 20px;
  border-radius: 20px;
  border: none;
  width: 100%;
}

section.contact-us textarea:focus,
section.contact-us input:focus {
  outline: none;
}

section.contact-us div > button {
  width: 100%;
}

section.solution {
  margin-bottom: 20vh !important;
}

section.solution div > img {
  width: 10%;
}

section.solution h4, section.solution p {
  color: #575757;
}

body {
  font-family: 'Mulish', sans-serif;
}

a {
  text-decoration: none;
}

.header-img {
  width: 5%;
}
/*# sourceMappingURL=style.css.map */