section.challenges {
    margin-bottom: 20vh !important;
    .border {
        border-color: $yellow-shade !important;
        border-radius: 20px;
    }

    h4, p {
        color: $gray-dark;
    }

    div > p {
        font-size: 90%;
    }
}